@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

.dark {
    background: #1f1f1f;
}

.light {
    background: linear-gradient(112.65deg, #FFFFFF 0.28%, rgba(70, 97, 115, 0) 178.65%);
}